<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener" template="[{Thread}] {EventType}: {Message}{Data}" convertWriteToEvent="true"/>
      <!--loggingHub is the SignalR server where applications will write trace messages to.-->
      <!-- #ifdef _xml_preprocess -->
      <!-- <add name="hubListener" type="Fonlow.Diagnostics.HubTraceListener, Fonlow.HubTraceListener" template="{Message}{Data}" hubUrl="${HubUrl}"  apiUser="${ApiUser}" apiPassword="${ApiPassword}" instanceId="testListener"/> -->
      <!-- #else -->
      <add name="hubListener" type="Fonlow.Diagnostics.HubTraceListener, Fonlow.HubTraceListener" template="{Message}{Data}" hubUrl="http://localhost:38533" apiUser="anonymous" apiPassword="Aaaaaa*8" instanceId="testListener"/>
      <!-- #endif -->
    </sharedListeners>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired for TraceSource -->
      <add name="TraceLevelSwitch" value="Verbose"/>
    </switches>
    <sources>
      <source name="myAppSource" switchValue="All">
        <listeners>
          <clear/>
          <add name="hubListener"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Also add listener for legacy Trace.Write() statements (not using a TraceSource).
          For performance also clear the default listener, and turn indent off to avoid confusion for multithreaded traces.
        -->
        <clear/>
        <!-- #ifdef _xml_preprocess -->
        <!-- #else -->
        <add name="coloredconsole"/>
        <!-- #endif -->
        <add name="hubListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
