<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net462" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net462" />
</packages>