<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--loggingHub is the SignalR server where applications will write trace messages to.-->
    <!-- #ifdef _xml_preprocess -->
    <!-- <add key="loggingHub" value="${HubUrl}"/> -->
    <!--<add key="loggingHub_Username" value="${ApiUser}" />-->
    <!--<add key="loggingHub_Password" value="${ApiPassword}" />-->
    <!-- #else -->
    <add key="loggingHub" value="http://localhost:33628" />
    <add key="loggingHub_Username" value="api" />
    <add key="loggingHub_Password" value="Aaaaaa*8" />
    <!-- #endif -->
  </appSettings>

  <system.diagnostics>
    <sharedListeners>
      <!--loggingHub is the SignalR server where applications will write trace messages to.-->
      <!-- #ifdef _xml_preprocess -->
      <!-- <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" template="{EventType}: {Message}{Data}" convertWriteToEvent="true"/> -->
      <!-- #else -->
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" template="{LocalDateTime:HH':'mm':'ss} [{Thread}] {EventType}: {Message}{Data}" convertWriteToEvent="true" />
      <!-- #endif -->
    </sharedListeners>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired for TraceSource -->
      <add name="TraceLevelSwitch" value="Verbose" />
    </switches>
    <sources>
      <!--loggingHub is used for reproducing trace messages from the Hub-->
      <source name="loggingHub" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <clear />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>