<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--loggingHub is the SignalR server where applications will write trace messages to, and the Console will listen to.-->
    <!-- #ifdef _xml_preprocess -->
    <!-- <add key="loggingHub" value="${HubUrl}"/> -->
    <!--<add key="loggingHub_Username" value="${ApiUser}" />-->
    <!--<add key="loggingHub_Password" value="${ApiPassword}" />-->
    <!-- #else -->
    <add key="loggingHub" value="http://localhost:38533" />
    <add key="loggingHub_Username" value="anonymous" />
    <add key="loggingHub_Password" value="Aaaaaa*8" />
    <!-- #endif -->
  </appSettings>

  <system.diagnostics>
    <sharedListeners>
      <add name="coloredconsole" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics.ColoredConsoleTraceListener" convertWriteToEvent="true" />
    </sharedListeners>
    <switches>
      <!-- You can set the level at which tracing is to occur. In production, Warning may be desired for TraceSource -->
      <add name="TraceLevelSwitch" value="Verbose" />
    </switches>
    <sources>
      <!-- TraceSource loggingHub is used for reproducing trace messages from the Hub-->
      <source name="loggingHub" switchValue="All">
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
      <source name="Example.ColoredConsole.Source" switchValue="All">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear />
          <add name="coloredconsole" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Also add listener for legacy Trace.Write() statements (not using a TraceSource).
          For performance also clear the default listener, and turn indent off to avoid confusion for multithreaded traces.
        -->
        <clear />
        <add name="coloredconsole" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Essential.Diagnostics.Core" publicKeyToken="9d041bca93991466" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
